

<ng-container *ngIf="!dataLoaded; else homeContent">
<ion-spinner name="dots"></ion-spinner>
</ng-container>

<ng-template #homeContent>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Gym Diary
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Gym Diary</ion-title>
      </ion-toolbar>
    </ion-header>
    <mat-calendar [(selected)]="selectedDate" (selectedChange)="onDateSelected()"  [dateClass]="dateClass()"></mat-calendar>
  </ion-content>
</ng-template>
